@import '../variables';

.categories {
	padding-right: 30px;
  ul {
    display: flex;
		flex-wrap: wrap;
		margin: 0 -10px -10px 0;
		li {

      padding: 0 10px 10px 0;
		}
    span {
			display: inline-block;
      background-color: #f9f9f9;
			padding: 0 30px;
			line-height: 40px;
      border-radius: 30px;
      font-weight: bold;
      cursor: pointer;
      transition: background-color 0.1s ease-in-out;
      @include noselect();

      &:hover {
        background-color: darken(#f9f9f9, 2%);
      }

      &:active {
        background-color: darken(#f9f9f9, 5%);
      }

      &.active {
        background-color: #282828;
        color: #fff;
      }
    }
  }
}
